.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
}

ion-range {
  width: 100%;
}

.emoji {
  font-size: 108px;
}
